.item-tour{
    margin-bottom: 30px;
}

.twitter-typeahead .tt-input {
    z-index: 1;
}

#page-container.page-header-fixed #main-container {
    padding-top: 1.75rem;
}

tr.warning {
    background-color: #fdf3e5 !important;
}

.fade:not(.show) {
    opacity: 1;
}